{% extends "base.html" %} 
{% block title %} Home {% endblock %} 
{% block content%} 

<div class="row text-center">
    <div class="col">
        <h1>Welcome To Meweet</h1>
    </div>
</div>


<div class="row" id="lists">
    Replace it
</div>

<script>
    const tweetsElement = document.getElementById("lists") // geting HTML element 

    const xhr = new XMLHttpRequest() //in django it's the same as --> xhr = SomeClasses()
    const method = 'GET'
    const url  = '/lists'
    const responseType = 'json'

    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)

    }

    function LikeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike("+tweet.id+","+ tweet.likes+")>"+tweet.likes +" Like</button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet -> "+tweet.id
            +"'><p>"+ tweet.content + 
                "</p><div class ='btn-group'>"+LikeBtn(tweet)+
                "</div></div>"
        return formattedTweet
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        const listedItems = serverResponse.response //array  
        var finalTweetStr = ""
        var i;
        for (i=0;i<listedItems.length; i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>

{% endblock %}
