{% extends "base.html" %} 
{% block title %} Home {% endblock %} 
{% block content%} 

<div class="row text-center">
    <div class="col">
        <h1>Welcome To Meweet</h1>
    </div>
</div>


<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="create_form" method="POST" action="{% url 'create' %}">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea name="description" class="form-control" placeholder="What is in your mind ?"></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="lists">
    Replace it
</div>

<script>

    function createFormSubmit(event){
        // i wnna prevnt that what form dos by default 
        event.preventDefault()
        // the reason i'm doning this way ( the following way ) is that i maybe i wnna reuse the createFormSubmit Function
        const myForm = event.target
        const myFormData = new FormData(myForm) // build in calss that related to formData, almost like dectionary of data 
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.onload = function(){
            if (xhr.status ==201){
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                const ogHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            }
        }
        xhr.send(myFormData)
    }

    const createFormEL = document.getElementById("create_form")

    createFormEL.addEventListener("submit",createFormSubmit)

    const tweetsContainerElement = document.getElementById("lists") // geting HTML element 

    function loadTweets(tweetsElement){
        const xhr = new XMLHttpRequest() //in django it's the same as --> xhr = SomeClasses()
        const method = 'GET'
        const url  = '/lists'
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            const serverResponse = xhr.response
            const listedItems = serverResponse.response //array  
            var finalTweetStr = ""
            var i;
            for (i=0;i<listedItems.length; i++){
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsContainerElement)


    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)

    }

    function LikeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike("+tweet.id+","+ tweet.likes+")>"+tweet.likes +" Like</button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet -> "+tweet.id
            +"'><p>"+ tweet.content + 
                "</p><div class ='btn-group'>"+LikeBtn(tweet)+
                "</div></div>"
        return formattedTweet
    }
</script>

{% endblock %}
